div(layout="column" flex flex-gt-md="50" flex-offset-gt-md="25" md-whiteframe)
  md-toolbar(layout="row")
    .md-toolbar-tools
      h2(flex md-truncate)
        | Secure trucco matrucco Chat
      md-button.md-icon-button(ng-click="pubkeyDialog()")
        md-icon.fa(md-font-icon="fa-key")
  div(flex layout="row")
    div(flex layout="row" ui-view)
